.*/*
!.github/*
!.devcontainer/devcontainer.json

.idea
**/target/

os/src/link_app.S
os/src/linker.ld
user/build
user/target/*

testsuits-for-oskernel/*
img/*
!img/Makefile

kernel-qemu
sbi-qemu
sdcard.img

os/vendor/*
user/vendor/*
testsuits-for-oskernel/
os/.cargo/
user/.cargo/
./disk.img
./disk-la.img
./kernel-la
./kernel